.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.slideIn-enter-active, .slideIn-leave-active {
  transition: all .3s
}

.slideIn-enter, .slideIn-leave-to {
  transform: translateX(-70vw);
}